{% extends 'dnd_wiki/base.html' %}
{% block content %}
<h1>Главная страница</h1>
<div class="center">
    <div class="row">

        <section class="block block-100 block-page_title">
            <h1 class="center-page_title">
                <a href="/class/">Классы D&amp;D&nbsp;5</a></h1>
        </section>


        <section class="block block_100">


            <div id="classes">
                <div class="articles-tiles">
                    <div class="grid-5_lg-4_sm-3_xs-1 tiles tiles-of">
                        {% for hero in heroes %}
                        <div class="col tile"><a href="{% url 'single_class' hero.id %}" class="tile-wrapper class class_bard">

                                <div>
                                    <p class="article_title"><b>{{ hero.rus_name }}</b></p>
                                    <p class="article_title_en"><i>{{ hero.eng_name }}</i></p>
                                    <p class="article_source" title="Player's handbook">PH</p>
                                </div>
                            <img src="{{ hero.bg_image.url }}" alt="" class="bg_img" width="120" height="90" >
                        </a></div>
                        {% endfor %}

                        </div>
                    </div>
                </div>
                <div class="articles-tiles"><h2 class="section-title section-title-tiles">Напарники</h2>
                    <div class="grid-5_lg-4_sm-3_xs-1 tiles tiles-of">
                        {% for companion in companions %}
                        <div class="col tile"><a href="/class/199-warrior_sidekick/" class="tile-wrapper class class_warrior_sidekick">
                             <div>
                                <p class="article_title"><b>{{ companion.rus_name }}</b></p>
                                <p class="article_title_en"><i>{{ companion.eng_name }}</i></p>
                                <p class="article_source" title="Tasha's Cauldron of Everything">{{ companion.adons_name }}</p>
                            </div></a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="articles-tiles"><h2 class="section-title section-title-tiles">Классы Homebrew</h2>
                    <div class="grid-5_lg-4_sm-3_xs-1 tiles tiles-of">
                        {% for hb_hero in hb_heroes %}
                        <div class="col tile"><a href="/homebrew/class/395-alchemist/" class="tile-wrapper class class_alchemist">
                            <div>
                                <p class="article_title"><b>{{ hb_hero.rus_name }}</b></p>
                                <p class="article_title_en"><i>{{ hb_hero.eng_name }}</i></p>
                                <p class="article_source" title="Homebrew">{{ hb_hero.adons_name1 }},{{ hb_hero.adons_name2 }}</p>
                            </div></a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>


        </section>

    </div>
</div>
{% endblock %}