{% extends 'dnd_wiki/base.html' %}
{% block content %}
<div id="races">

    <div class="articles-tiles">
        <div class="grid-5_lg-4_sm-3_xs-1 tiles tiles-of">
            <div class="col tile tile-source tile-POA"><a href="/race/92-aarakocra/"
                                                          class="tile-wrapper race race_aarakocra"><span
                    class="article_title">Ааракокра</span><span class="article_title_en">Aarakocra</span><span
                    class="article_source" title="Princes of the Apocalypse">POA</span></a></div>
            <div class="col tile tile-source tile-VGM"><a href="/race/161-aasimar/"
                                                          class="tile-wrapper race race_aasimar"><span
                    class="article_title">Аасимар </span><span class="article_title_en">Aasimar</span><span
                    class="article_source" title="Volo's guide to monsters">VGM</span></a></div>
            <div class="col tile tile-source tile-SAS"><a href="/race/214-autognome/"
                                                          class="tile-wrapper race race_autognome"><span
                    class="article_title">Автогном</span><span class="article_title_en">Autognome</span><span
                    class="article_source" title="Spelljammer: Adventures in Space">SAS</span></a></div>
            <div class="col tile tile-source tile-SAS"><a href="/race/213-astral_elf/"
                                                          class="tile-wrapper race race_astral_elf"><span
                    class="article_title">Астральный эльф</span><span class="article_title_en">Astral elf</span><span
                    class="article_source" title="Spelljammer: Adventures in Space">SAS</span></a></div>
            <div class="col tile tile-source tile-VGM"><a href="/race/167-bugbear/"
                                                          class="tile-wrapper race race_bugbear"><span
                    class="article_title">Багбир</span><span class="article_title_en">Bugbear</span><span
                    class="article_source" title="Volo's guide to monsters">VGM</span></a></div>
            <div class="col tile tile-source tile-GGR"><a href="/race/162-vedalken/"
                                                          class="tile-wrapper race race_vedalken"><span
                    class="article_title">Ведалкен</span><span class="article_title_en">Vedalken</span><span
                    class="article_source" title="Guildmasters' guide to Ravnica">GGR</span></a></div>
            <div class="col tile tile-source tile-AI"><a href="/race/163-verdan/" class="tile-wrapper race race_verdan"><span
                    class="article_title">Вердан</span><span class="article_title_en">Verdan</span><span
                    class="article_source" title="Acquisition Incorporated">AI</span></a></div>
            <div class="col tile tile-source tile-GGR"><a href="/race/164-simic_hybrid/"
                                                          class="tile-wrapper race race_simic_hybrid"><span
                    class="article_title">Гибрид Симиков</span><span class="article_title_en">Simic hybrid</span><span
                    class="article_source" title="Guildmasters' guide to Ravnica">GGR</span></a></div>
            <div class="col tile tile-source tile-MTF"><a href="/race/165-gith/"
                                                          class="tile-wrapper race race_gith"><span
                    class="article_title">Гит</span><span class="article_title_en">Gith</span><span
                    class="article_source" title="Mordenkainen's Tome of Foes">MTF</span></a></div>
            <div class="col tile tile-source tile-SAS"><a href="/race/215-giff/"
                                                          class="tile-wrapper race race_giff"><span
                    class="article_title">Гифф</span><span class="article_title_en">Giff</span><span
                    class="article_source" title="Spelljammer: Adventures in Space">SAS</span></a></div>
            <div class="col tile tile-source tile-PH"><a href="/race/83-gnome/"
                                                         class="tile-wrapper race race_gnome"><span
                    class="article_title">Гном</span><span class="article_title_en">Gnome</span><span
                    class="article_source" title="Player's handbook">PH</span></a></div>
            <div class="col tile tile-source tile-VGM"><a href="/race/166-goblin/"
                                                          class="tile-wrapper race race_goblin"><span
                    class="article_title">Гоблин</span><span class="article_title_en">Goblin</span><span
                    class="article_source" title="Volo's guide to monsters">VGM</span></a></div>
            <div class="col tile tile-source tile-VGM"><a href="/race/103-goliath/"
                                                          class="tile-wrapper race race_goliath"><span
                    class="article_title">Голиаф</span><span class="article_title_en">Goliath</span><span
                    class="article_source" title="Volo's guide to monsters">VGM</span></a></div>
            <div class="col tile tile-source tile-OGA"><a href="/race/169-grung/"
                                                          class="tile-wrapper race race_grung"><span
                    class="article_title">Грунг </span><span class="article_title_en">Grung</span><span
                    class="article_source" title="One Grung Above">OGA</span></a></div>
            <div class="col tile tile-source tile-PH"><a href="/race/78-dwarf/"
                                                         class="tile-wrapper race race_dwarf"><span
                    class="article_title">Дварф</span><span class="article_title_en">Dwarf</span><span
                    class="article_source" title="Player's handbook">PH</span></a></div>
            <div class="col tile tile-source tile-POA"><a href="/race/102-genasi/"
                                                          class="tile-wrapper race race_genasi"><span
                    class="article_title">Дженази</span><span class="article_title_en">Genasi</span><span
                    class="article_source" title="Princes of the Apocalypse">POA</span></a></div>
            <div class="col tile tile-source tile-PH"><a href="/race/82-dragonborn/"
                                                         class="tile-wrapper race race_dragonborn"><span
                    class="article_title">Драконорождённый</span><span class="article_title_en">Dragonborn</span><span
                    class="article_source" title="Player's handbook">PH</span></a></div>
            <div class="col tile tile-source tile-WBW"><a href="/race/207-harengon/"
                                                          class="tile-wrapper race race_harengon"><span
                    class="article_title">Зайцегон</span><span class="article_title_en">Harengon</span><span
                    class="article_source" title="The Wild Beyond The Witchlight: A Feywild Adventure">WBW</span></a>
            </div>
            <div class="col tile tile-source tile-RLW"><a href="/race/171-kalashtar/"
                                                          class="tile-wrapper race race_kalashtar"><span
                    class="article_title">Калаштар</span><span class="article_title_en">Kalashtar</span><span
                    class="article_source" title="Eberron: Rising from the Last War">RLW</span></a></div>
            <div class="col tile tile-source tile-SDQ"><a href="/race/285-kender/"
                                                          class="tile-wrapper race race_kender"><span
                    class="article_title">Кендер</span><span class="article_title_en">Kender</span><span
                    class="article_source" title="Dragonlance: Shadow of the Dragon Queen">SDQ</span></a></div>
            <div class="col tile tile-source tile-VGM"><a href="/race/172-kenku/"
                                                          class="tile-wrapper race race_kenku"><span
                    class="article_title">Кенку </span><span class="article_title_en">Kenku</span><span
                    class="article_source" title="Volo's guide to monsters">VGM</span></a></div>
            <div class="col tile tile-source tile-GGR"><a href="/race/173-centaur/"
                                                          class="tile-wrapper race race_centaur"><span
                    class="article_title">Кентавр </span><span class="article_title_en">Centaur</span><span
                    class="article_source" title="Guildmasters' guide to Ravnica">GGR</span></a></div>
            <div class="col tile tile-source tile-VGM"><a href="/race/175-kobold/"
                                                          class="tile-wrapper race race_kobold"><span
                    class="article_title">Кобольд </span><span class="article_title_en">Kobold</span><span
                    class="article_source" title="Volo's guide to monsters">VGM</span></a></div>
            <div class="col tile tile-source tile-RLW"><a href="/race/174-warforged/"
                                                          class="tile-wrapper race race_warforged"><span
                    class="article_title">Кованый</span><span class="article_title_en">Warforged</span><span
                    class="article_source" title="Eberron: Rising from the Last War">RLW</span></a></div>
            <div class="col tile tile-source tile-MOT"><a href="/race/176-leonin/"
                                                          class="tile-wrapper race race_leonin"><span
                    class="article_title">Леонинец</span><span class="article_title_en">Leonin</span><span
                    class="article_source" title="Mythic Odysseys of Theros">MOT</span></a></div>
            <div class="col tile tile-source tile-LR"><a href="/race/178-locathah/"
                                                         class="tile-wrapper race race_locathah"><span
                    class="article_title">Локата</span><span class="article_title_en">Locathah</span><span
                    class="article_source" title="Locathah Rising">LR</span></a></div>
            <div class="col tile tile-source tile-GGR"><a href="/race/177-loxodon/"
                                                          class="tile-wrapper race race_loxodon"><span
                    class="article_title">Локсодон</span><span class="article_title_en">Loxodon</span><span
                    class="article_source" title="Guildmasters' guide to Ravnica">GGR</span></a></div>
            <div class="col tile tile-source tile-VGM"><a href="/race/179-lizardfolk/"
                                                          class="tile-wrapper race race_lizardfolk"><span
                    class="article_title">Людоящер</span><span class="article_title_en">Lizardfolk</span><span
                    class="article_source" title="Volo's guide to monsters">VGM</span></a></div>
            <div class="col tile tile-source tile-GGR"><a href="/race/181-minotaur/"
                                                          class="tile-wrapper race race_minotaur"><span
                    class="article_title">Минотавр</span><span class="article_title_en">Minotaur</span><span
                    class="article_source" title="Guildmasters' guide to Ravnica">GGR</span></a></div>
            <div class="col tile tile-source tile-VGM"><a href="/race/187-orc/" class="tile-wrapper race race_orc"><span
                    class="article_title">Орк</span><span class="article_title_en">Orc</span><span
                    class="article_source" title="Volo's guide to monsters">VGM</span></a></div>
            <div class="col tile tile-source tile-SAS"><a href="/race/217-plasmoid/"
                                                          class="tile-wrapper race race_plasmoid"><span
                    class="article_title">Плазмоид</span><span class="article_title_en">Plasmoid</span><span
                    class="article_source" title="Spelljammer: Adventures in Space">SAS</span></a></div>
            <div class="col tile tile-source tile-PH"><a href="/race/85-half_orc/"
                                                         class="tile-wrapper race race_half_orc"><span
                    class="article_title">Полуорк</span><span class="article_title_en">Half-orc</span><span
                    class="article_source" title="Player's handbook">PH</span></a></div>
            <div class="col tile tile-source tile-PH"><a href="/race/80-halfling/"
                                                         class="tile-wrapper race race_halfling"><span
                    class="article_title">Полурослик</span><span class="article_title_en">Halfling</span><span
                    class="article_source" title="Player's handbook">PH</span></a></div>
            <div class="col tile tile-source tile-PH"><a href="/race/84-half_elf/"
                                                         class="tile-wrapper race race_half_elf"><span
                    class="article_title">Полуэльф</span><span class="article_title_en">Half-elf</span><span
                    class="article_source" title="Player's handbook">PH</span></a></div>
            <div class="col tile tile-source tile-MOT"><a href="/race/182-satyr/"
                                                          class="tile-wrapper race race_satyr"><span
                    class="article_title">Сатир</span><span class="article_title_en">Satyr</span><span
                    class="article_source" title="Mythic Odysseys of Theros">MOT</span></a></div>
            <div class="col tile tile-source tile-SCC"><a href="/race/206-owlin/"
                                                          class="tile-wrapper race race_owlin"><span
                    class="article_title">Совлин</span><span class="article_title_en">Owlin</span><span
                    class="article_source" title="Strixhaven: A Curriculum of Chaos">SCC</span></a></div>
            <div class="col tile tile-source tile-VGM"><a href="/race/183-tabaxi/"
                                                          class="tile-wrapper race race_tabaxi"><span
                    class="article_title">Табакси</span><span class="article_title_en">Tabaxi</span><span
                    class="article_source" title="Volo's guide to monsters">VGM</span></a></div>
            <div class="col tile tile-source tile-PH"><a href="/race/86-tiefling/"
                                                         class="tile-wrapper race race_tiefling"><span
                    class="article_title">Тифлинг</span><span class="article_title_en">Tiefling</span><span
                    class="article_source" title="Player's handbook">PH</span></a></div>
            <div class="col tile tile-source tile-TP"><a href="/race/184-tortle/" class="tile-wrapper race race_tortle"><span
                    class="article_title">Тортл</span><span class="article_title_en">Tortle</span><span
                    class="article_source" title="The Tortle Package">TP</span></a></div>
            <div class="col tile tile-source tile-SAS"><a href="/race/218-thri_kreen/"
                                                          class="tile-wrapper race race_thri_kreen"><span
                    class="article_title">Три-крин</span><span class="article_title_en">Thri-kreen</span><span
                    class="article_source" title="Spelljammer: Adventures in Space">SAS</span></a></div>
            <div class="col tile tile-source tile-VGM"><a href="/race/188-triton/"
                                                          class="tile-wrapper race race_triton"><span
                    class="article_title">Тритон</span><span class="article_title_en">Triton</span><span
                    class="article_source" title="Volo's guide to monsters">VGM</span></a></div>
            <div class="col tile tile-source tile-WBW"><a href="/race/204-fairy/"
                                                          class="tile-wrapper race race_fairy"><span
                    class="article_title">Фейри</span><span class="article_title_en">Fairy</span><span
                    class="article_source" title="The Wild Beyond The Witchlight: A Feywild Adventure">WBW</span></a>
            </div>
            <div class="col tile tile-source tile-VGM"><a href="/race/185-firbolg/"
                                                          class="tile-wrapper race race_firbolg"><span
                    class="article_title">Фирболг</span><span class="article_title_en">Firbolg</span><span
                    class="article_source" title="Volo's guide to monsters">VGM</span></a></div>
            <div class="col tile tile-source tile-SAS"><a href="/race/216-hadozee/"
                                                          class="tile-wrapper race race_hadozee"><span
                    class="article_title">Хадози</span><span class="article_title_en">Hadozee</span><span
                    class="article_source" title="Spelljammer: Adventures in Space">SAS</span></a></div>
            <div class="col tile tile-source tile-VGM"><a href="/race/168-hobgoblin/"
                                                          class="tile-wrapper race race_hobgoblin"><span
                    class="article_title">Хобгоблин</span><span class="article_title_en">Hobgoblin</span><span
                    class="article_source" title="Volo's guide to monsters">VGM</span></a></div>
            <div class="col tile tile-source tile-RLW"><a href="/race/170-changeling/"
                                                          class="tile-wrapper race race_changeling"><span
                    class="article_title">Чейнджлинг</span><span class="article_title_en">Changeling</span><span
                    class="article_source" title="Eberron: Rising from the Last War">RLW</span></a></div>
            <div class="col tile tile-source tile-PH"><a href="/race/81-human/"
                                                         class="tile-wrapper race race_human"><span
                    class="article_title">Человек</span><span class="article_title_en">Human</span><span
                    class="article_source" title="Player's handbook">PH</span></a></div>
            <div class="col tile tile-source tile-RLW"><a href="/race/186-shifter/"
                                                          class="tile-wrapper race race_shifter"><span
                    class="article_title">Шифтер</span><span class="article_title_en">Shifter</span><span
                    class="article_source" title="Eberron: Rising from the Last War">RLW</span></a></div>
            <div class="col tile tile-source tile-PH"><a href="/race/79-elf/" class="tile-wrapper race race_elf"><span
                    class="article_title">Эльф</span><span class="article_title_en">Elf</span><span
                    class="article_source" title="Player's handbook">PH</span></a></div>
            <div class="col tile tile-source tile-VGM"><a href="/race/189-yuan_ti_pureblood/"
                                                          class="tile-wrapper race race_yuan_ti_pureblood"><span
                    class="article_title">Юань-ти</span><span class="article_title_en">Yuan-ti Pureblood</span><span
                    class="article_source" title="Volo's guide to monsters">VGM</span></a></div>
        </div>
    </div>
    <div class="articles-tiles"><h2 class="section-title section-title-tiles">Происхождения</h2>
        <div class="grid-5_lg-4_sm-3_xs-1 tiles tiles-of">
            <div class="col tile tile-source tile-VRGR"><a href="/race/192-hexblood/"
                                                           class="tile-wrapper race race_hexblood"><span
                    class="article_title">Ведьмовская кровь</span><span class="article_title_en">Hexblood</span><span
                    class="article_source" title="Van Richten's Guide to Ravenloft">VRGR</span></a></div>
            <div class="col tile tile-source tile-VRGR"><a href="/race/193-reborn/"
                                                           class="tile-wrapper race race_reborn"><span
                    class="article_title">Возрождённый</span><span class="article_title_en">Reborn</span><span
                    class="article_source" title="Van Richten's Guide to Ravenloft">VRGR</span></a></div>
            <div class="col tile tile-source tile-VRGR"><a href="/race/191-dhampir/"
                                                           class="tile-wrapper race race_dhampir"><span
                    class="article_title">Дампир</span><span class="article_title_en">Dhampir</span><span
                    class="article_source" title="Van Richten's Guide to Ravenloft">VRGR</span></a></div>
            <div class="col tile tile-source tile-TCE"><a href="/race/223-custom_lineage/"
                                                          class="tile-wrapper race race_custom_lineage"><span
                    class="article_title">Своё происхождение</span><span
                    class="article_title_en">Custom lineage</span><span class="article_source"
                                                                        title="Tasha's Cauldron of Everything">TCE</span></a>
            </div>
        </div>
    </div>
    <div class="articles-tiles"><h2 class="section-title section-title-tiles">Расы Mordenkainen Presents: Monsters of
        the Multiverse</h2>
        <div class="grid-5_lg-4_sm-3_xs-1 tiles tiles-of">
            <div class="col tile tile-source tile-MPMM"><a href="/race/278-aarakocra/"
                                                           class="tile-wrapper race race_aarakocra"><span
                    class="article_title">Ааракокра</span><span class="article_title_en">Aarakocra</span><span
                    class="article_source" title="Mordenkainen Presents: Monsters of the Multiverse">MPMM</span></a>
            </div>
            <div class="col tile tile-source tile-MPMM"><a href="/race/280-aasimar/"
                                                           class="tile-wrapper race race_aasimar"><span
                    class="article_title">Аасимар</span><span class="article_title_en">Aasimar</span><span
                    class="article_source" title="Mordenkainen Presents: Monsters of the Multiverse">MPMM</span></a>
            </div>
            <div class="col tile tile-source tile-MPMM"><a href="/race/281-bugbear/"
                                                           class="tile-wrapper race race_bugbear"><span
                    class="article_title">Багбир</span><span class="article_title_en">Bugbear</span><span
                    class="article_source" title="Mordenkainen Presents: Monsters of the Multiverse">MPMM</span></a>
            </div>
            <div class="col tile tile-source tile-MPMM"><a href="/race/293-githzerai/"
                                                           class="tile-wrapper race race_githzerai"><span
                    class="article_title">Гитцераи</span><span class="article_title_en">Githzerai</span><span
                    class="article_source" title="Mordenkainen Presents: Monsters of the Multiverse">MPMM</span></a>
            </div>
            <div class="col tile tile-source tile-MPMM"><a href="/race/292-githyanki/"
                                                           class="tile-wrapper race race_githyanki"><span
                    class="article_title">Гитъянки</span><span class="article_title_en">Githyanki</span><span
                    class="article_source" title="Mordenkainen Presents: Monsters of the Multiverse">MPMM</span></a>
            </div>
            <div class="col tile tile-source tile-MPMM"><a href="/race/286-deep_gnome/"
                                                           class="tile-wrapper race race_deep_gnome"><span
                    class="article_title">Глубинный гном</span><span class="article_title_en">Deep Gnome</span><span
                    class="article_source" title="Mordenkainen Presents: Monsters of the Multiverse">MPMM</span></a>
            </div>
            <div class="col tile tile-source tile-MPMM"><a href="/race/294-goblin/"
                                                           class="tile-wrapper race race_goblin"><span
                    class="article_title">Гоблин</span><span class="article_title_en">Goblin</span><span
                    class="article_source" title="Mordenkainen Presents: Monsters of the Multiverse">MPMM</span></a>
            </div>
            <div class="col tile tile-source tile-MPMM"><a href="/race/295-goliath/"
                                                           class="tile-wrapper race race_goliath"><span
                    class="article_title">Голиаф</span><span class="article_title_en">Goliath</span><span
                    class="article_source" title="Mordenkainen Presents: Monsters of the Multiverse">MPMM</span></a>
            </div>
            <div class="col tile tile-source tile-MPMM"><a href="/race/291-genasi/"
                                                           class="tile-wrapper race race_genasi"><span
                    class="article_title">Дженази</span><span class="article_title_en">Genasi</span><span
                    class="article_source" title="Mordenkainen Presents: Monsters of the Multiverse">MPMM</span></a>
            </div>
            <div class="col tile tile-source tile-MPMM"><a href="/race/287-duergar/"
                                                           class="tile-wrapper race race_duergar"><span
                    class="article_title">Дуэргар</span><span class="article_title_en">Duergar</span><span
                    class="article_source" title="Mordenkainen Presents: Monsters of the Multiverse">MPMM</span></a>
            </div>
            <div class="col tile tile-source tile-MPMM"><a href="/race/296-harengon/"
                                                           class="tile-wrapper race race_harengon"><span
                    class="article_title">Зайцегон</span><span class="article_title_en">Harengon</span><span
                    class="article_source" title="Mordenkainen Presents: Monsters of the Multiverse">MPMM</span></a>
            </div>
            <div class="col tile tile-source tile-MPMM"><a href="/race/298-kenku/" class="tile-wrapper race race_kenku"><span
                    class="article_title">Кенку</span><span class="article_title_en">Kenku</span><span
                    class="article_source" title="Mordenkainen Presents: Monsters of the Multiverse">MPMM</span></a>
            </div>
            <div class="col tile tile-source tile-MPMM"><a href="/race/282-centaur/"
                                                           class="tile-wrapper race race_centaur"><span
                    class="article_title">Кентавр</span><span class="article_title_en">Centaur</span><span
                    class="article_source" title="Mordenkainen Presents: Monsters of the Multiverse">MPMM</span></a>
            </div>
            <div class="col tile tile-source tile-MPMM"><a href="/race/299-kobold/"
                                                           class="tile-wrapper race race_kobold"><span
                    class="article_title">Кобольд</span><span class="article_title_en">Kobold</span><span
                    class="article_source" title="Mordenkainen Presents: Monsters of the Multiverse">MPMM</span></a>
            </div>
            <div class="col tile tile-source tile-MPMM"><a href="/race/300-lizardfolk/"
                                                           class="tile-wrapper race race_lizardfolk"><span
                    class="article_title">Людоящер</span><span class="article_title_en">Lizardfolk</span><span
                    class="article_source" title="Mordenkainen Presents: Monsters of the Multiverse">MPMM</span></a>
            </div>
            <div class="col tile tile-source tile-MPMM"><a href="/race/301-minotaur/"
                                                           class="tile-wrapper race race_minotaur"><span
                    class="article_title">Минотавр</span><span class="article_title_en">Minotaur</span><span
                    class="article_source" title="Mordenkainen Presents: Monsters of the Multiverse">MPMM</span></a>
            </div>
            <div class="col tile tile-source tile-MPMM"><a href="/race/304-sea_elf/"
                                                           class="tile-wrapper race race_sea_elf"><span
                    class="article_title">Морской эльф</span><span class="article_title_en">Sea Elf</span><span
                    class="article_source" title="Mordenkainen Presents: Monsters of the Multiverse">MPMM</span></a>
            </div>
            <div class="col tile tile-source tile-MPMM"><a href="/race/302-orc/"
                                                           class="tile-wrapper race race_orc"><span
                    class="article_title">Орк </span><span class="article_title_en">Orc</span><span
                    class="article_source" title="Mordenkainen Presents: Monsters of the Multiverse">MPMM</span></a>
            </div>
            <div class="col tile tile-source tile-MPMM"><a href="/race/303-satyr/" class="tile-wrapper race race_satyr"><span
                    class="article_title">Сатир</span><span class="article_title_en">Satyr</span><span
                    class="article_source" title="Mordenkainen Presents: Monsters of the Multiverse">MPMM</span></a>
            </div>
            <div class="col tile tile-source tile-MPMM"><a href="/race/307-tabaxi/"
                                                           class="tile-wrapper race race_tabaxi"><span
                    class="article_title">Табакси </span><span class="article_title_en">Tabaxi</span><span
                    class="article_source" title="Mordenkainen Presents: Monsters of the Multiverse">MPMM</span></a>
            </div>
            <div class="col tile tile-source tile-MPMM"><a href="/race/309-tortle/"
                                                           class="tile-wrapper race race_tortle"><span
                    class="article_title">Тортл</span><span class="article_title_en">Tortle</span><span
                    class="article_source" title="Mordenkainen Presents: Monsters of the Multiverse">MPMM</span></a>
            </div>
            <div class="col tile tile-source tile-MPMM"><a href="/race/310-triton/"
                                                           class="tile-wrapper race race_triton"><span
                    class="article_title">Тритон</span><span class="article_title_en">Triton</span><span
                    class="article_source" title="Mordenkainen Presents: Monsters of the Multiverse">MPMM</span></a>
            </div>
            <div class="col tile tile-source tile-MPMM"><a href="/race/290-firbolg/"
                                                           class="tile-wrapper race race_firbolg"><span
                    class="article_title">Фирболг</span><span class="article_title_en">Firbolg</span><span
                    class="article_source" title="Mordenkainen Presents: Monsters of the Multiverse">MPMM</span></a>
            </div>
            <div class="col tile tile-source tile-MPMM"><a href="/race/289-fairy/" class="tile-wrapper race race_fairy"><span
                    class="article_title">Фэйри</span><span class="article_title_en">Fairy</span><span
                    class="article_source" title="Mordenkainen Presents: Monsters of the Multiverse">MPMM</span></a>
            </div>
            <div class="col tile tile-source tile-MPMM"><a href="/race/297-hobgoblin/"
                                                           class="tile-wrapper race race_hobgoblin"><span
                    class="article_title">Хобгоблин</span><span class="article_title_en">Hobgoblin</span><span
                    class="article_source" title="Mordenkainen Presents: Monsters of the Multiverse">MPMM</span></a>
            </div>
            <div class="col tile tile-source tile-MPMM"><a href="/race/283-changeling/"
                                                           class="tile-wrapper race race_changeling"><span
                    class="article_title">Чейнджлинг</span><span class="article_title_en">Changeling</span><span
                    class="article_source" title="Mordenkainen Presents: Monsters of the Multiverse">MPMM</span></a>
            </div>
            <div class="col tile tile-source tile-MPMM"><a href="/race/305-shadar_kai/"
                                                           class="tile-wrapper race race_shadar_kai"><span
                    class="article_title">Шадар-кай</span><span class="article_title_en">Shadar-Kai</span><span
                    class="article_source" title="Mordenkainen Presents: Monsters of the Multiverse">MPMM</span></a>
            </div>
            <div class="col tile tile-source tile-MPMM"><a href="/race/306-shifter/"
                                                           class="tile-wrapper race race_shifter"><span
                    class="article_title">Шифтер</span><span class="article_title_en">Shifter</span><span
                    class="article_source" title="Mordenkainen Presents: Monsters of the Multiverse">MPMM</span></a>
            </div>
            <div class="col tile tile-source tile-MPMM"><a href="/race/288-eladrin/"
                                                           class="tile-wrapper race race_eladrin"><span
                    class="article_title">Эладрин</span><span class="article_title_en">Eladrin</span><span
                    class="article_source" title="Mordenkainen Presents: Monsters of the Multiverse">MPMM</span></a>
            </div>
            <div class="col tile tile-source tile-MPMM"><a href="/race/311-yuan_ti/"
                                                           class="tile-wrapper race race_yuan_ti"><span
                    class="article_title">Юань-ти</span><span class="article_title_en">Yuan-Ti</span><span
                    class="article_source" title="Mordenkainen Presents: Monsters of the Multiverse">MPMM</span></a>
            </div>
        </div>
    </div>
    <div class="articles-tiles hidden"><h2 class="section-title section-title-tiles">Расы Astral Adventurer's Guide</h2>
        <div class="grid-5_lg-4_sm-3_xs-1 tiles tiles-of"></div>
    </div>
    <div class="articles-tiles"><h2 class="section-title section-title-tiles">Расы Unearthed Arcana</h2>
        <div class="grid-5_lg-4_sm-3_xs-1 tiles tiles-of">
            <div class="col tile tile-source tile-UA tile-HB"><a href="/homebrew/race/367-glitchling/"
                                                                 class="tile-wrapper race race_glitchling"><span
                    class="article_title">Глючный</span><span class="article_title_en">Glitchling</span><span
                    class="article_source" title="Unearthed Arcana, Homebrew">UA, HB</span></a></div>
            <div class="col tile tile-source tile-UA tile-HB"><a href="/homebrew/race/275-revenant/"
                                                                 class="tile-wrapper race race_revenant"><span
                    class="article_title">Ревенант</span><span class="article_title_en">Revenant</span><span
                    class="article_source" title="Unearthed Arcana, Homebrew">UA, HB</span></a></div>
            <div class="col tile tile-source tile-UA tile-HB"><a href="/homebrew/race/205-hobgoblin_of_the_feywild/"
                                                                 class="tile-wrapper race race_hobgoblin_of_the_feywild"><span
                    class="article_title">Хобгоблин из Страны Фей</span><span class="article_title_en">Hobgoblin of the Feywild</span><span
                    class="article_source" title="Unearthed Arcana, Homebrew">UA, HB</span></a></div>
        </div>
    </div>
    <div class="articles-tiles"><h2 class="section-title section-title-tiles">Расы Plane Shift: Amonkhet</h2>
        <div class="grid-5_lg-4_sm-3_xs-1 tiles tiles-of">
            <div class="col tile tile-source tile-PS_A tile-HB"><a href="/homebrew/race/329-aven/"
                                                                   class="tile-wrapper race race_aven"><span
                    class="article_title">Авен</span><span class="article_title_en">Aven</span><span
                    class="article_source" title="Plane Shift: Amonkhet, Homebrew">PS:A, HB</span></a></div>
            <div class="col tile tile-source tile-HB tile-PS_A"><a href="/homebrew/race/328-minotaur/"
                                                                   class="tile-wrapper race race_minotaur_PSA"><span
                    class="article_title">Минотавр</span><span class="article_title_en">Minotaur</span><span
                    class="article_source" title="Homebrew, Plane Shift: Amonkhet">HB, PS:A</span></a></div>
            <div class="col tile tile-source tile-PS_A tile-HB"><a href="/homebrew/race/221-naga/"
                                                                   class="tile-wrapper race race_naga"><span
                    class="article_title">Нага</span><span class="article_title_en">Naga</span><span
                    class="article_source" title="Plane Shift: Amonkhet, Homebrew">PS:A, HB</span></a></div>
            <div class="col tile tile-source tile-PS_A tile-HB"><a href="/homebrew/race/333-khenra/"
                                                                   class="tile-wrapper race race_khenra"><span
                    class="article_title">Хенра</span><span class="article_title_en">Khenra</span><span
                    class="article_source" title="Plane Shift: Amonkhet, Homebrew">PS:A, HB</span></a></div>
            <div class="col tile tile-source tile-PS_A tile-HB"><a href="/homebrew/race/332-human/"
                                                                   class="tile-wrapper race race_human"><span
                    class="article_title">Человек</span><span class="article_title_en">Human</span><span
                    class="article_source" title="Plane Shift: Amonkhet, Homebrew">PS:A, HB</span></a></div>
        </div>
    </div>
    <div class="articles-tiles"><h2 class="section-title section-title-tiles">Расы Plane Shift: Innistrad</h2>
        <div class="grid-5_lg-4_sm-3_xs-1 tiles tiles-of">
            <div class="col tile tile-source tile-PS_In tile-HB"><a href="/homebrew/race/336-people_of_innistrad/"
                                                                    class="tile-wrapper race race_people_of_innistrad"><span
                    class="article_title">Люди Иннистрада</span><span
                    class="article_title_en">People of Innistrad</span><span class="article_source"
                                                                             title="Plane Shift: Innistrad, Homebrew">PS:In, HB</span></a>
            </div>
        </div>
    </div>
    <div class="articles-tiles"><h2 class="section-title section-title-tiles">Расы Midgard Heroes Handbook</h2>
        <div class="grid-5_lg-4_sm-3_xs-1 tiles tiles-of">
            <div class="col tile tile-source tile-HB tile-HB_MHH"><a href="/homebrew/race/429-bearfolk/"
                                                                     class="tile-wrapper race race_bearfolk"><span
                    class="article_title">Бирфолк</span><span class="article_title_en">Bearfolk</span><span
                    class="article_source" title="Homebrew, Midgard Heroes Handbook">HB, HB:MHH</span></a></div>
            <div class="col tile tile-source tile-HB tile-HB_MHH"><a href="/homebrew/race/435-gnoll/"
                                                                     class="tile-wrapper race race_gnoll"><span
                    class="article_title">Гнолл</span><span class="article_title_en">Gnoll</span><span
                    class="article_source" title="Homebrew, Midgard Heroes Handbook">HB, HB:MHH</span></a></div>
            <div class="col tile tile-source tile-HB tile-HB_MHH"><a href="/homebrew/race/436-gnome/"
                                                                     class="tile-wrapper race race_gnome"><span
                    class="article_title">Гном</span><span class="article_title_en">Gnome</span><span
                    class="article_source" title="Homebrew, Midgard Heroes Handbook">HB, HB:MHH</span></a></div>
            <div class="col tile tile-source tile-HB tile-HB_MHH"><a href="/homebrew/race/431-dhampir/"
                                                                     class="tile-wrapper race race_dhampir"><span
                    class="article_title">Дампир</span><span class="article_title_en">Dhampir</span><span
                    class="article_source" title="Homebrew, Midgard Heroes Handbook">HB, HB:MHH</span></a></div>
            <div class="col tile tile-source tile-HB tile-HB_MHH"><a href="/homebrew/race/432-dwarf/"
                                                                     class="tile-wrapper race race_dwarf"><span
                    class="article_title">Дварф</span><span class="article_title_en">Dwarf</span><span
                    class="article_source" title="Homebrew, Midgard Heroes Handbook">HB, HB:MHH</span></a></div>
            <div class="col tile tile-source tile-HB tile-HB_MHH"><a href="/homebrew/race/430-centaur/"
                                                                     class="tile-wrapper race race_centaur"><span
                    class="article_title">Кентавр</span><span class="article_title_en">Centaur</span><span
                    class="article_source" title="Homebrew, Midgard Heroes Handbook">HB, HB:MHH</span></a></div>
            <div class="col tile tile-source tile-HB tile-HB_MHH"><a href="/homebrew/race/438-kobolds_of_midgard/"
                                                                     class="tile-wrapper race race_kobolds_of_midgard"><span
                    class="article_title">Кобольд Мидгарда</span><span
                    class="article_title_en">Kobolds of Midgard</span><span class="article_source"
                                                                            title="Homebrew, Midgard Heroes Handbook">HB, HB:MHH</span></a>
            </div>
            <div class="col tile tile-source tile-HB tile-HB_MHH"><a href="/homebrew/race/434-gearforged/"
                                                                     class="tile-wrapper race race_gearforged"><span
                    class="article_title">Кованый</span><span class="article_title_en">Gearforged</span><span
                    class="article_source" title="Homebrew, Midgard Heroes Handbook">HB, HB:MHH</span></a></div>
            <div class="col tile tile-source tile-HB tile-HB_MHH"><a href="/homebrew/race/437-human_of_midgard/"
                                                                     class="tile-wrapper race race_human_of_midgard"><span
                    class="article_title">Люди Мидгарда</span><span
                    class="article_title_en">Human of Midgard</span><span class="article_source"
                                                                          title="Homebrew, Midgard Heroes Handbook">HB, HB:MHH</span></a>
            </div>
            <div class="col tile tile-source tile-HB tile-HB_MHH"><a href="/homebrew/race/439-minotaur/"
                                                                     class="tile-wrapper race race_minotaur"><span
                    class="article_title">Минотавр</span><span class="article_title_en">Minotaur</span><span
                    class="article_source" title="Homebrew, Midgard Heroes Handbook">HB, HB:MHH</span></a></div>
            <div class="col tile tile-source tile-HB tile-HB_MHH"><a href="/homebrew/race/444-winterfolk_halflings/"
                                                                     class="tile-wrapper race race_winterfolk_halflings"><span
                    class="article_title">Полурослик винтерфолк</span><span class="article_title_en">Winterfolk halflings</span><span
                    class="article_source" title="Homebrew, Midgard Heroes Handbook">HB, HB:MHH</span></a></div>
            <div class="col tile tile-source tile-HB tile-HB_MHH"><a href="/homebrew/race/441-ravenfolk/"
                                                                     class="tile-wrapper race race_ravenfolk"><span
                    class="article_title">Рэвенфолк</span><span class="article_title_en">Ravenfolk</span><span
                    class="article_source" title="Homebrew, Midgard Heroes Handbook">HB, HB:MHH</span></a></div>
            <div class="col tile tile-source tile-HB tile-HB_MHH"><a href="/homebrew/race/440-ratfolk/"
                                                                     class="tile-wrapper race race_ratfolk"><span
                    class="article_title">Рэтфолк</span><span class="article_title_en">Ratfolk</span><span
                    class="article_source" title="Homebrew, Midgard Heroes Handbook">HB, HB:MHH</span></a></div>
            <div class="col tile tile-source tile-HB tile-HB_MHH"><a href="/homebrew/race/442-shadow_fey/"
                                                                     class="tile-wrapper race race_shadow_fey"><span
                    class="article_title">Теневая фея</span><span class="article_title_en">Shadow fey</span><span
                    class="article_source" title="Homebrew, Midgard Heroes Handbook">HB, HB:MHH</span></a></div>
            <div class="col tile tile-source tile-HB tile-HB_MHH"><a href="/homebrew/race/443-trollkin/"
                                                                     class="tile-wrapper race race_trollkin"><span
                    class="article_title">Троллкин</span><span class="article_title_en">Trollkin</span><span
                    class="article_source" title="Homebrew, Midgard Heroes Handbook">HB, HB:MHH</span></a></div>
            <div class="col tile tile-source tile-HB tile-HB_MHH"><a href="/homebrew/race/433-elf/"
                                                                     class="tile-wrapper race race_elf"><span
                    class="article_title">Эльф</span><span class="article_title_en">Elf</span><span
                    class="article_source" title="Homebrew, Midgard Heroes Handbook">HB, HB:MHH</span></a></div>
        </div>
    </div>
    <div class="articles-tiles"><h2 class="section-title section-title-tiles">Расы Homebrew</h2>
        <div class="grid-5_lg-4_sm-3_xs-1 tiles tiles-of">
            <div class="col tile tile-source tile-HB"><a href="/homebrew/race/405-elkian/"
                                                         class="tile-wrapper race race_elkian"><span
                    class="article_title">Вапитианец</span><span class="article_title_en">Elkian</span><span
                    class="article_source" title="Homebrew">HB</span></a></div>
            <div class="col tile tile-source tile-HB tile-HB_SC"><a href="/homebrew/race/112-vegepygmy/"
                                                                    class="tile-wrapper race race_vegepygmy"><span
                    class="article_title">Вегепигмей</span><span class="article_title_en">Vegepygmy</span><span
                    class="article_source" title="Homebrew, Sprouting Chaos">HB, HB:SC</span></a></div>
            <div class="col tile tile-source tile-HB tile-HB_SC"><a href="/homebrew/race/111-awakened/"
                                                                    class="tile-wrapper race race_awakened"><span
                    class="article_title">Пробуждённый</span><span class="article_title_en">Awakened</span><span
                    class="article_source" title="Homebrew, Sprouting Chaos">HB, HB:SC</span></a></div>
            <div class="col tile tile-source tile-HB tile-HB_SC"><a href="/homebrew/race/110-silva/"
                                                                    class="tile-wrapper race race_silva"><span
                    class="article_title">Сильва</span><span class="article_title_en">Silva</span><span
                    class="article_source" title="Homebrew, Sprouting Chaos">HB, HB:SC</span></a></div>
            <div class="col tile tile-source tile-HB tile-HB_CN"><a href="/homebrew/race/475-teratect/"
                                                                    class="tile-wrapper race race_teratect"><span
                    class="article_title">Тератект</span><span class="article_title_en">Teratect</span><span
                    class="article_source" title="Homebrew, Chronicles of Naimiria">HB, HB:CN</span></a></div>
            <div class="col tile tile-source tile-HB tile-HB_CN"><a href="/homebrew/race/474-smoldering/"
                                                                    class="tile-wrapper race race_smoldering"><span
                    class="article_title">Тлеющий</span><span class="article_title_en">Smoldering</span><span
                    class="article_source" title="Homebrew, Chronicles of Naimiria">HB, HB:CN</span></a></div>
            <div class="col tile tile-source tile-HB tile-HB_CN"><a href="/homebrew/race/466-florene/"
                                                                    class="tile-wrapper race race_florene"><span
                    class="article_title">Флорен</span><span class="article_title_en">Florene</span><span
                    class="article_source" title="Homebrew, Chronicles of Naimiria">HB, HB:CN</span></a></div>
        </div>
    </div>
</div>

{% endblock %}