{% extends 'dnd_wiki/base.html' %}
{% block content %}
{% load static %}
<div id="races">
    <div class="articles-tiles"><h2 class="section-title section-title-tiles">Расы DND</h2>
    <div class="articles-tiles">
        <div class="grid-5_lg-4_sm-3_xs-1 tiles tiles-of">
            {% for race in races %}
            <div class="col tile tile-source tile-POA"><a href="{% url 'single_race' race.id %}" class="tile-wrapper race">

                <div>
                    <p class="article_title"><b>{{race.rus_name}}</b></p>
                    <p class="article_title_en"><i>{{race.eng_name}}</i></p>
                    <p class="article_source" title="Princes of the Apocalypse"></p>{{race.adons_name}}
                </div>
                <img src="{{ race.bg_image.url }}" alt="" class="bg_img" width="120" height="90" >
            </a>
            </div>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}