{% extends 'dnd_wiki/base.html' %}
{% block content %}
<div class="paper-1 card" style="background-position:70% 0" itemscope="" itemtype="https://schema.org/Article">
    <div class="card-wrapper class_bard">
        <div class="card-header"><h2 class="card-title" itemprop="name">{{ ho.name }}</h2>
            <div class="card-menu"><span class="card-menu__button"><span></span><span></span><span></span></span></div>
        </div>
        <div class="card-body new-article" itemprop="articleBody">
            <ul class="params">
                <li><strong>Источник:</strong> «<span>{{ ho.source }}</span>»</li>
            </ul>
            <div class="desc" itemprop="articleBody">
                <div>
                    <div class="spoiler_head_body" data-key="class.bard.intro">
                        <blockquote>{{ ho.lore_info }}</blockquote>
                        <br>
                        <p>{{ ho.short_info }}</p>

                    </div>
                    <span class="fake-body spoiler_body"></span>
                </div>
                <p></p>
                <ul class="new-article-menu grid">
                    <li class="new-article-menu__l1 col-6_lg-8_md-12_xs-24">
                        <div class="new-article-menu__l1-wrapper"><a href="#bard"
                                                                     class="btn btn-contrast btn-sm btn-primary scroll-link new-article-menu__l1-link">{{ho.name}}</a>
                        </div>
                    </li>
                    <li class="new-article-menu__l1 col-6_lg-8_md-12_xs-24">
                        <div class="new-article-menu__l1-wrapper"><a href="#sozdanie_barda"
                                                                     class="btn btn-contrast btn-sm btn-primary scroll-link new-article-menu__l1-link">Создание
                            {{ho.name}}</a></div>
                    </li>
                    <li class="new-article-menu__l1 col-6_lg-8_md-12_xs-24">
                        <div class="new-article-menu__l1-wrapper"><a href="#class-features"
                                                                     class="btn btn-contrast btn-sm btn-primary scroll-link new-article-menu__l1-link">Классовые
                            умения</a></div>
                    </li>
                    <li class="new-article-menu__l1 col-6_lg-8_md-12_xs-24"><span
                            class="new-article-menu__l1-drop"><span class="svg svg-16 svg--dropdown"><svg><use
                            xlink:href="/beta/img/sprite.svg#dropdown">
                    <li class="new-article-menu__l1 col-6_lg-8_md-12_xs-24">
                        <div class="new-article-menu__l1-wrapper"><a href="#unofficial"
                                                                     class="btn btn-contrast btn-sm btn-primary scroll-link new-article-menu__l1-link">Unearthed
                            Arcana &amp; Unofficial</a></div>
                    </li>
                </ul>
                <p></p>

                <h4 class="tableTitle"><span id="bard">{{ ho.name }}</span></h4>
                <div class="table-wrapper">
                    {{ ho.table|safe }}
                </div>

                <h3 class="underlined spoiler_head">{{ ho.description_title1 }}</h3>
                <div class="spoiler_body">
                    <p>{{ ho.description_info1 }}</p>

                    <br></div>
                <h3 class="underlined spoiler_head">{{ ho.description_title2 }}</h3>
                <div class="spoiler_body">
                    <p>{{ ho.description_info2 }}</p>

                    <br></div>
                <h3 class="underlined spoiler_head"><span id="sozdanie_barda">Создание {{ho.name}}</span></h3>
                <div class="spoiler_body">
                    <p>{{ ho.creations }}</p>
                    <br>
                    <h3 class="smallSectionTitle">БЫСТРОЕ СОЗДАНИЕ</h3>
                    <p>{{ ho.fast_creations }}</p>
                    <br></div>

                <div class="additionalInfo"><h3 class="smallSectionTitle spoiler_head">Мультиклассирование И
                    {{ho.name}}</h3>
                    <div class="spoiler_body">
                        <p>{{ ho.deep_lore_decs }}</p>
                        <p><strong><em>Минимальные значения характеристик.</em></strong>{{ ho.deep_lore_min_char }}</p>
                        <p><strong><em>Получаемые владения</em>.</strong>{{ ho.deep_lore_use }}</p>
                        <p><strong><em>Ячейки заклинаний</em>.</strong>{{ ho.deep_lore_ability }}</p>
                    </div>
                </div>
                <br>
                <h2 class="bigSectionTitle"><span id="class-features">Классовые умения</span></h2>
                <p>{{ ho.class_ability_desc }}</p>

                <div class="additionalInfo"><h3 class="smallSectionTitle spoiler_head">Хиты, владение и снаряжение</h3>
                    <span class="spoiler_body">
<h4 class="smallSectionTitle">ХИТЫ</h4>
<p><strong>Кость Хитов:</strong>{{ho.class_ability_hp}}</p>
<p><strong>Хиты на 1 уровне:</strong>{{ho.class_ability_hp_1lvl}}</p>
<p><strong>Хиты на следующих уровнях:</strong>{{ ho.class_ability_hp_nextlvl }}</p>

<br>
<h4 class="smallSectionTitle">ВЛАДЕНИЕ</h4>
<p><strong>Доспехи:</strong>{{ho.class_ability_armor}}</p>
<p><strong>Оружие: </strong>{{ho.class_ability_weapon}}</p>
<p><strong>Инструменты:</strong>{{ho.class_ability_tools}}</p>
<p><strong>Спасброски:</strong>{{ho.class_ability_safedice}}</p>
<p><strong>Навыки:</strong> Выберите три любых</p>

<br>
<h4 class="smallSectionTitle">СНАРЯЖЕНИЕ</h4>
<p>Вы начинаете со следующим снаряжением в дополнение к снаряжению, полученному за вашу предысторию:</p>
<ul>
<li>{{ ho.class_ability_equipment1 }}</li>
<li>{{ ho.class_ability_equipment2 }}</li>
<li>{{ ho.class_ability_equipment2 }}</li>
<li>Кожаный доспех и кинжал</li>
</ul>
<p>Если вы откажетесь от этого снаряжения, а также от предметов, предлагаемых вашей предысторией, то вы начнёте игру с <span
        class="dice" onclick="return ROLLtABLE.rollDice(this);"><span>5к4×10</span><span></span></span> зм для покупки снаряжения.</p>
</span></div>

                <br>
                <h3 class="underlined"><span id="feature.spellcasting">ИСПОЛЬЗОВАНИЕ ЗАКЛИНАНИЙ</span></h3>
                <p><em>1-й уровень, умение барда</em></p>
                <p>Вы научились изменять ткань реальности в соответствии с вашими волей и музыкой. Ваши заклинания
                    являются частью вашего обширного репертуара; это магия, которой вы найдёте применение в любой
                    ситуации. Вы найдёте список заклинаний, доступных барду в этом разделе: <a
                            href="/spells/?search=&amp;class=12"><strong>заклинания барда</strong></a>.</p>
                <h4 class="smallSectionTitle">Заговоры (заклинания 0-го уровня)</h4>
                <p>Вы знаете два <a href="https://dnd.su/spells/?search=&amp;level=0&amp;class=12" target="_blank">заговора</a>
                    из списка доступных для барда на ваш выбор. При достижении более высоких уровней вы выучите новые, в
                    соответствии с колонкой «известные заговоры».</p>
                <h4 class="smallSectionTitle">Ячейки заклинаний</h4>
                <p>Таблица «<a href="#bard">Бард</a>» показывает, сколько ячеек заклинаний у вас есть для заклинаний
                    барда 1-го и других уровней. Для накладывания заклинания вы должны потратить ячейку соответствующего
                    либо превышающего уровня. Вы восстанавливаете все потраченные ячейки в конце продолжительного
                    отдыха. Например, если вы знаете заклинание 1-го уровня <a href="/spells/145-cure_wounds/">лечение
                        ран [cure wounds]</a>, и у вас есть ячейки 1-го и 2-го уровней, вы можете наложить его с помощью
                    любой из этих ячеек.</p>
                <h4 class="smallSectionTitle">Известные заклинания первого и более высоких уровней</h4>
                <p>Вы знаете четыре заклинания 1-го уровня на свой выбор из списка доступных барду.</p>
                <p>Колонка «<a href="#bard">известные заклинания</a>» показывает, когда вы сможете выучить новые
                    заклинания. Уровень заклинаний не должен превышать уровень самой высокой имеющейся у вас ячейки
                    заклинаний. Например, когда вы достигнете 3-го уровня в этом классе, вы можете выучить одно новое
                    заклинание 1-го или 2-го уровня.</p>
                <p>Кроме того, когда вы получаете новый уровень в этом классе, вы можете одно из известных вам
                    заклинаний барда заменить на другое из списка барда, уровень которого тоже должен соответствовать
                    имеющимся ячейкам заклинаний.</p>
                <h4 class="smallSectionTitle">Базовая характеристика заклинаний</h4>
                <p>При накладывании заклинаний бард использует свою Харизму. Ваша магия проистекает из сердечности и
                    душевности, которую вы вкладываете в исполнение музыки и произнесение речей. Вы используете Харизму
                    в случаях, когда заклинание ссылается на базовую характеристику. Кроме того, вы используете Харизму
                    при определении Сл спасбросков от ваших заклинаний, и при броске атаки заклинаниями.</p>
                <p style="text-align: center;"><strong>Сл спасброска</strong> = 8 + ваш бонус мастерства + ваш
                    модификатор Харизмы</p>
                <p style="text-align: center;"><strong>Модификатор броска атаки </strong>= ваш бонус мастерства + ваш
                    модификатор Харизмы</p>
                <h4 class="smallSectionTitle">Ритуальное колдовство</h4>
                <p>Вы можете сотворить любое известное вам заклинание барда в качестве ритуала, если заклинание
                    позволяет это.</p>
                <h4 class="smallSectionTitle">Фокусировка заклинания</h4>
                <p>Вы можете использовать ваш музыкальный инструмент в качестве фокусировки для ваших заклинаний
                    барда.</p>

                <div class="TCE-feature-on" style="display: block;">
                    <br>
                    <h3 class="underlined"><span id="feature.extra-spells">Дополнительные заклинания барда</span></h3>
                    <p><em>1-й уровень, <span tooltip-for="option.TCE" class="tooltipstered tooltip">опциональное</span>
                        умение барда</em></p>
                    <p>Заклинания в <a href="/spells/?search=&amp;class=33">следующем списке</a> расширяют список
                        заклинаний барда из «Книги игрока». Список отсортирован по уровню заклинаний, а не по уровню
                        персонажа. Если заклинание может быть исполнено как ритуал, то в скобках также будет указано
                        «ритуал».</p>
                    <h4 class="tableTitle">Бард</h4>
                    <div class="table-wrapper">
                        <table class=".td_1__centered">
                            <tbody>
                            <tr class="table_header">
                                <td style="text-align: center;">Уровень<br>заклинания</td>
                                <td>Заклинания</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td><a href="/spells/276-command/">приказ [command]</a>, <a
                                        href="/spells/306-color_spray/">сверкающие брызги [color spray]</a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td><a href="/spells/218-mirror_image/">отражения [mirror image]</a>, <a
                                        href="/spells/236-aid/">подмога [aid]</a>, <a
                                        href="/spells/355-enlarge_reduce/">увеличение/уменьшение [enlarge/reduce]</a>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td><a href="/spells/83-slow/">замедление [slow]</a>, <a
                                        href="/spells/3049-intellect_fortress/">крепость интеллекта [intellect
                                    fortress]</a>, <a href="/spells/170-mass_healing_word/">множественное лечащее слово
                                    [mass healing word]</a></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td><a href="/spells/32-phantasmal_killer/">воображаемый убийца [phantasmal killer]</a>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td><a href="/spells/160-rary_s_telepathic_bond/">ментальная связь Рэри [Rary’s
                                    telepathic bond]</a> (ритуал)
                                </td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td><a href="/spells/230-heroes_feast/">пир героев [heroes’ feast]</a></td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td><a href="/spells/291-prismatic_spray/">радужные брызги [prismatic spray]</a>, <a
                                        href="/spells/3054-dream_of_the_blue_veil/">сон синей вуали [dream of the blue
                                    veil]</a></td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td><a href="/spells/2-antipathy_sympathy/">антипатия/симпатия [antipathy/sympathy]</a>
                                </td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td><a href="/spells/290-prismatic_wall/">радужная стена [prismatic wall]</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <br>
                <h3 class="underlined"><span id="feature.bardic-inspiration">ВДОХНОВЕНИЕ БАРДА</span></h3>
                <p><em>1-й уровень, умение барда</em></p>
                <p>Своими словами или музыкой вы можете вдохновлять других. Для этого вы должны бонусным действием
                    выбрать одно существо, отличное от вас, в пределах 60 футов, которое может вас слышать. Это существо
                    получает кость бардовского вдохновения — к6.</p>
                <p>В течение следующих 10 минут это существо может один раз бросить эту кость и добавить результат к
                    проверке характеристики, броску атаки или спасброску, который оно совершает. Существо может принять
                    решение о броске кости вдохновения уже после броска к20, но должно сделать это прежде, чем Мастер
                    объявит результат броска. Как только кость бардовского вдохновения брошена, она исчезает. Существо
                    может иметь только одну такую кость одновременно.</p>
                <p>Вы можете использовать это умение количество раз, равное модификатору вашей Харизмы, но как минимум
                    один раз. Потраченные использования этого умения восстанавливаются после продолжительного
                    отдыха.</p>
                <p>Ваша кость бардовского вдохновения изменяется с ростом вашего уровня в этом классе. Она становится к8
                    на 5-м уровне, к10 на 10-м уровне и к12 на 15-м уровне.</p>

                <br>
                <h3 class="underlined"><span id="feature.jack-of-all-trades">МАСТЕР НА ВСЕ РУКИ</span></h3>
                <p><em>2-й уровень, умение барда</em></p>
                <p>Вы можете добавлять половину бонуса мастерства, округлённую в меньшую сторону, ко всем проверкам
                    характеристики, куда этот бонус еще не включён.</p>

                <br>
                <h3 class="underlined"><span id="feature.song-of-rest">ПЕСНЬ ОТДЫХА</span></h3>
                <p><em>2-й уровень, умение барда</em></p>
                <p>Вы с помощью успокаивающей музыки или речей можете помочь своим раненым союзникам восстановить их
                    силы во время короткого отдыха. Если вы или любые союзные существа, способные слышать ваше
                    исполнение, восстанавливаете хиты в конце короткого отдыха, используя Кости Хитов, каждое
                    потратившее Кость Хитов существо восстанавливает дополнительно <span class="dice"
                                                                                         onclick="return ROLLtABLE.rollDice(this);"><span>1к6</span><span></span></span>
                    хитов.</p>
                <p>Количество дополнительно восстанавливаемых хитов растёт с вашим уровнем в этом классе: <span
                        class="dice" onclick="return ROLLtABLE.rollDice(this);"><span>1к8</span><span></span></span> на
                    9-м уровне, <span class="dice"
                                      onclick="return ROLLtABLE.rollDice(this);"><span>1к10</span><span></span></span>
                    на 13 уровне и <span class="dice"
                                         onclick="return ROLLtABLE.rollDice(this);"><span>1к12</span><span></span></span>
                    на 17 уровне.</p>

                <div class="TCE-feature-on" style="display: block;">
                    <br>
                    <h3 class="underlined"><span id="feature.magical-inspiration">Магическое вдохновение</span></h3>
                    <p><em>2-й уровень, <span tooltip-for="option.TCE" class="tooltipstered tooltip">опциональное</span>
                        умение барда</em></p>
                    <p>Если существо, имея вашу кость бардовского вдохновения, накладывает заклинание, восстанавливающее
                        хиты или наносящее урон, то это существо может бросить эту кость и выбрать цель, затронутую
                        заклинанием. Добавьте выпавшее на кости значение в качестве бонуса к восстановлению хитов или
                        урону. После этого кость бардовского вдохновения тратится.</p></div>

                <br>
                <h3 class="underlined"><span id="feature.bard-college">КОЛЛЕГИЯ БАРДОВ</span></h3>
                <p><em>3-й уровень, умение барда</em></p>
                <p>Вы углубляетесь в традиции выбранной вами коллегии бардов. Этот выбор предоставляет вам умения на
                    3-м, 6-м и 14-м уровнях.</p>

                <br>
                <h3 class="underlined"><span id="feature.expertise">КОМПЕТЕНТНОСТЬ</span></h3>
                <p><em>3-й уровень, умение барда</em></p>
                <p>Выберите 2 навыка из тех, которыми вы владеете. Ваш бонус мастерства для этих навыков
                    удваивается.</p>
                <p>На 10-м уровне вы можете выбрать еще 2 навыка и получить для них это преимущество.</p>

                <br>
                <h3 class="underlined"><span id="feature.ASI">УВЕЛИЧЕНИЕ ХАРАКТЕРИСТИК</span></h3>
                <p><em>4-й уровень, умение барда</em></p>
                <p>При достижении 4-го, 8-го, 12-го, 16-го и 19-го уровней вы можете повысить значение одной из ваших
                    характеристик на 2 или двух характеристик на 1. Как обычно, значение характеристики при этом не
                    должно превысить 20.</p>
                <p>Если ваш Мастер разрешает использование черт, вы можете отказаться от преимуществ этого умения при
                    повышении значений характеристик и вместо этого взять <a href="/feats/">черту</a>.</p>

                <div class="TCE-feature-on" style="display: block;">
                    <br>
                    <h3 class="underlined"><span id="feature.bardic-versatility">Многогранность барда</span></h3>
                    <p><em>4-й уровень, <span tooltip-for="option.TCE" class="tooltipstered tooltip">опциональное</span>
                        умение барда</em></p>
                    <p>Всякий раз, когда достигаете в этом классе уровня, который предоставляет вам «<a
                            href="#feature.ASI">Увеличение характеристик</a>», вы можете сделать одно из следующих
                        действий, представляющих собой изменение вашей специализации на навыках и магии:</p>
                    <ul>
                        <li>Замените один из навыков, выбранный вами с помощью умения «<a href="#feature.expertise">Компетентность</a>»,
                            одним из ваших других навыков, который не имеет бонуса от этого умения.
                        </li>
                        <li>Замените один заговор, который вы получили от умения «<a href="#feature.spellcasting">Использование
                            заклинаний</a>» этого класса, другим заговором из списка заклинаний барда.
                        </li>
                    </ul>
                </div>

                <br>
                <h3 class="underlined"><span id="feature.font-of-inspiration">ИСТОЧНИК ВДОХНОВЕНИЯ</span></h3>
                <p><em>5-й уровень, умение барда</em></p>
                <p>Вы восстанавливаете истраченные вдохновения барда и после короткого и после продолжительного
                    отдыха.</p>

                <br>
                <h3 class="underlined"><span id="feature.countercharm">КОНТРОЧАРОВАНИЕ</span></h3>
                <p><em>6-й уровень, умение барда</em></p>
                <p>Вы получаете возможность использовать звуки или слова силы для разрушения воздействующих на разум
                    эффектов. Вы можете действием начать исполнение, которое продлится до конца вашего следующего хода.
                    В течение этого времени вы и все дружественные существа в пределах 30 футов от вас совершают
                    спасброски от <span tooltip-for="condition.frightened"
                                        class="tooltipstered tooltip">запугивания</span> и <span
                            tooltip-for="condition.charmed" class="tooltipstered tooltip">очарования</span> с
                    преимуществом. Чтобы получить это преимущество, существа должны слышать вас. Исполнение
                    заканчивается преждевременно, если вы оказываетесь <span tooltip-for="condition.incapacitated"
                                                                             class="tooltipstered tooltip">недееспособны</span>,
                    теряете способность говорить, или прекращаете исполнение добровольно (на это не требуется действие).
                </p>

                <br>
                <h3 class="underlined"><span id="feature.magical-secrets">ТАЙНЫ МАГИИ</span></h3>
                <p><em>10-й уровень, умение барда</em></p>
                <p>Вы успели набрать знаний из самого широкого спектра магических дисциплин. Выберите два заклинания
                    любых классов, включая ваш собственный. Эти заклинания должны быть того уровня, который вы можете
                    использовать, или являться заговорами.</p>
                <p>Теперь эти заклинания считаются для вас заклинаниями барда и учитываются в общем количестве известных
                    вам заклинаний согласно таблице «<a href="#bard">Бард</a>». Ещё по два заклинания других классов вы
                    выучите на 14-м и 18-м уровнях.</p>

                <br>
                <h3 class="underlined"><span id="feature.superior-inspiration">ПРЕВОСХОДНОЕ ВДОХНОВЕНИЕ</span></h3>
                <p><em>20-й уровень, умение барда</em></p>
                <p>Если на момент броска инициативы у вас не осталось неиспользованных вдохновений, вы получаете
                    одно.</p>

                <br>


                {% endblock %}